// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors (colorhunt)
$my-pale-yellow: #FEFFDE;
$my-pale-green: #DDFFBC;
$my-medium-green: #91C788;
$my-dark-green: #52734D;

// alternative
$my-green-blue: #98DDCA;
$my-green-yellow: #D5ECC2;
$my-light-orange: #FFD3B4;
$my-pale-red: #FFAAA7;

//home page
$my-home_purple: #7889FB;
$my-home-green: #e6fbdc;
$my-font-color: #1D4728;
