.green-wave-top {
  height: 8vh;
  width: 100%;
  background-image: url(inverse_rectangle.png);
  background-repeat: no-repeat;
  background-position: top;
  background-position: right;
  margin-bottom: 2rem;
}
