// Specific CSS for your home-page
body {
  background-color: $my-body-bg;
}

.navbar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 0px 0px 24px;
    color: $primary;
    font-size:small;
  }
}

.hero-banner {
  height: 90vh;
  width: 100%;
  background-image: url(rectangle.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 2rem;
}

.hero-button {
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
}

.category-container {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin: 0 auto 4rem auto;
}

.sub-category {
  width: 50%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.partner-card {
  height: 60%;
  width: 100%;
  background-image: url('Partenaires.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}
.engagement-card {
  height: 100%;
  width: 50%;
  min-height: 60vh;
  background-image: url('engagement.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  border-radius: 16px;
}

.scope-card {
  height: 100%;
  width: 100%;
  min-height: 60vh;
  background-image: url('infographie-scope-1-2-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  border-radius: 16px;
}

.news-card {
  height: 100%;
  width: 100%;
  background-image: url('actualites.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}

.btn-home {
  border-radius: 20px;
  p {
    font-weight: bold;
    color: $body-color;
  }
}

.btn-home:hover {
  text-decoration: underline;
  text-decoration-color: #CCF7BB;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #CCF7BB;
}

p{
  text-align: justify;
  padding: 0px 25px 0px 25px;
}
