
<div class="dashboard_content_body">
  <div>
    <p>Content Body</p>
  </div>
</div>
<div class="dashboard_content_footer">
  <div class="card_footer">
    <h4>Préciser Mon Bilan Carbone</h4>
    <p>Mesurer précisément mon empreinte</p>
    <div class="btn btn-primary">Cliquer Ici</div>
  </div>
  <div class="card_footer">
    <h4>Préciser Mon Bilan Carbone</h4>
    <p>Mesurer précisément mon empreinte</p>
    <div class="btn btn-primary">Cliquer Ici</div>
  </div>
  <div class="card_footer">
    <h4>Préciser Mon Bilan Carbone</h4>
    <p>Mesurer précisément mon empreinte</p>
    <div class="btn btn-primary">Cliquer Ici</div>
  </div>
</div>
