<%= content_for(:navbar_class, "navbar-home") %>

<#% if current_user.nil? %>
  <#% url_path = new_company_url %>
<#% else %>
  <#% url_path = dashboard_url %>
<#% end %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>La plate-forme des PME engagées pour le climat!</h1>
    <p>Décarbonnez votre empreinte</p>
    <% if current_user != nil %>
      <% if current_user.company == nil %>
        <%= link_to "Calculez facilement votre bilan carbone", new_company_path, class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "Calculez facilement votre bilan carbone", dashboard_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    <% else %>
        <%= link_to "Calculez facilement votre bilan carbone", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
