<%# <%= content_for(:navbar_class, "navbar-home") %>

<%# <div class="banner"> %>
  <%# <div class="banner-content text-center"> %>
    <%# <h1>La plate-forme des PME engagées pour le climat!</h1> %>
    <%# <p>Décarbonnez votre empreinte</p> %>
    <%# <%= link_to "Calculez facilement votre bilan carbone", new_company_url, class: "btn btn-lg btn-primary"  %>
  <%# </div> %>
<%# </div> %>


<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="row navbar">
        <div class="col-lg-3">
          <img src="/Users/amineberrada/code/amineberr/coolcarb/app/assets/images/logo.png" alt="logo coolcarb">
        </div>
        <div class="col-lg-3">Pourquoi Coolcarb?</div>
        <div class="col-lg-3">Notre offre</div>
        <div class="col-lg-3">Benchmark</div>
      </div>
      <div class="row">
        <h1>La plateforme des PME engagées pour le climat</h1>
      </div>
      <div class="row">
        <p>Mesurez votre empreinte carbone</p>
      </div>
      <div class="row">
        <p>Améliorez votre bilan carbone</p>
      </div>
      <div class="row">
        <p>Engagez vos collaborateurs en leur assignant des tâches</p>
      </div>
      <div class="row">
        <p>Gagnez des clients en leur partageant votre certificat officiel</p>
      </div>
      <div class="row">
        <div class="btn btn-primary">Calculer mon empreinte carbone</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="btn btn-primary">Connexion</div>
      </div>
      <div class="row">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
