.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-image.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: $my-body-bg;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: $my-body-bg;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    border-radius: 20px;
    font-weight: bold;
  }
}
