.btn {
  border-radius: 20px;
  font-weight: bold;
}

.extended-content-container {
  width: 120%;
}


// Home Navbar

.btn-home {
  border-radius: 20px;
  margin: 0 auto;
  font-weight: bold;
}

.btn-home:hover {
  text-decoration: underline;
  text-decoration-color: #CCF7BB;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #CCF7BB;
}

// Home companies-index

.hero-button-companies {
  border-radius: 20px;
  width: 100%;
  margin: auto auto;
  font-weight: bold;
}

// Home Banner

.hero-button {
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
}

// dashboard

.hero-button-dashboard {
  color: #40497E;
  background: $my-body-bg;
  border-radius: 20px;
  width: 40%;
  margin: 0 auto;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero-button-dashboard:hover {
  background: #40497E;
  color: $my-body-bg;
}

// dashboard

.hero-button-dashboard-2 {
  background: #778AFB;
  color: $my-body-bg;
  border-radius: 20px;
  width: 40%;
  margin: 0 auto;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero-button-dashboard-2:hover {
  color: #778AFB;
  background: $my-body-bg;
}

// Bilan

.hero-button-bilan {
  border-radius: 20px;
  width: 300px;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  color: $my-body-bg;
}

// Home Exemples de PME

.btn-sme {
  color: $my-body-bg;
  padding: 8px 8px 8px 12px;
  border-radius: 20px;
  background: $my-dark-pervenche;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-sme:hover {
  background: $my-body-bg;
  color: $my-dark-pervenche;
}

// Home news

.btn-home-news {
  border-radius: 20px;
  margin: 0 auto;
  font-weight: bold;
}

.btn-home-news:hover {
  text-decoration: underline;
  text-decoration-color: #40497E;
}
// Home Partenaires

.btn-partners {
  color: #778AFB;
  padding: 8px 8px 8px 12px;
  border-radius: 20px;
  background: $my-body-bg;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-partners:hover {
  background: #778AFB;
  color: $my-body-bg;
}

// Dashboard - bilan - Plan d'action

.btn-middle-pervenche-navbar {
  color: $my-body-bg;
  padding: 8px 140px 8px 24px;
  border-radius: 20px;
  background:  #778AFB;
  transition: background 0.3s ease;
}

.btn-middle-pervenche-navbar:hover {
  background: $my-body-bg;
  color: #778AFB;
}

.btn-middle-white-navbar {
  color: #778AFB;
  padding: 8px 140px 8px 24px;
  border-radius: 20px;
  background: $my-body-bg;
  transition: background 0.3s ease;
}

.btn-middle-white-navbar:hover {
  background: #778AFB;
  color: $my-body-bg;
}

.btn-bottom-navbar {
  color: #778AFB;
  padding: 8px 24px;
  border-radius: 20px;
  border-color: #778AFB;
  background: $my-body-bg;
  transition: background 0.3s ease;
}

.btn-bottom-navbar:hover {
  background: #778AFB;
  color: $my-body-bg;
}

.btn-bottom-pervenche-content {
  color: $my-body-bg;
  padding: 8px 8px 8px 8px;
  border-radius: 20px;
  background:  #778AFB;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-bottom-pervenche-content:hover {
  background: $my-body-bg;
  color: #778AFB;
}

// footprint long_form button
.hero-button-form {
  border-radius: 20px;
  width: 20%;
  margin: 0 auto;
  font-weight: bold;
}
