.long-form-div {
  font-size: larger;
  font-weight: bold;
  // position: relative;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-control.is-valid {
    border-color: black
  }
}
.inner-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-long-form {
  height: 100vh;
  overflow: hidden;
}

.span {
  margin-left: 20px;
  margin-top: 15px;
  height: 37px;
  width: 100px;
  border-radius: 2px;
  background-color: #91C788;
  color: #FFFFFF;
  text-align: center;
  padding-top: 4px;
}

.astuce {
  font-style: italic;
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
}
