.long-form-div {
  font-size: larger;
  font-weight: bold;
  // position: relative;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-control.is-valid {
    border-color: black
  }
  .form-text {
    font-weight: lighter;
  }
}

.inner-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-form-certified {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.container-long-form {
  height: 100vh;
  &-inner {
    height: 100%;
    overflow: hidden;
  }
}

.span {
  margin-left: 20px;
  margin-top: 15px;
  height: 37px;
  width: 100px;
  border-radius: 2px;
  background-color: #91C788;
  color: #FFFFFF;
  text-align: center;
  padding-top: 4px;
}

.astuce {
  font-style: italic;
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
}

.long-form-results-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  background-color: RGB(145, 199, 136);
  padding: 2rem;
  border-radius: 1rem 0 0 1rem;
  color: white;
  .hint {
    font-size: 0.75rem;
  }
}
